@page
@model SumerBusinessSolution.Pages.Customers.Customers.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@inject Services.CommonLocalizationService localizer
@using Sumer.Utility
<div class=" backgroundWhite">
    <div class="row">

        <div class="col-md-6 ">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Create" class="btn btn-info"> <i class="fas fa-plus"></i></a>
        </div>

        <div class="col-md-6 text-right">
 
            <h2 class="text-info"> @localizer.Get("الزبائن")</h2>

        </div>

    </div>

    <form method="get" asp-page="Index">
        <div class="border backgroundWhite">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2 text-md-right pb-1">

                                <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                            <div class="col-md-5 pb-1">
                                @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("اسم الزبون....") } })

                            </div>
                            <div class="col-md-5 pb-1">
                                @*@Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("تاريخ الطلب....") } })*@
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div>

        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th></th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.Address)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Customer.PhoneNo)
                </th>
 
                <th></th>
            </tr>
 
                @foreach (var item in Model.CustomerList)
                {
                    <tr>

                        <td>
                            <div class="btn-group" role="group">
                                <form method="post">


                                    @if (User.IsInRole(SD.AdminEndUser))
                                    {
                                        <a asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success text-white" asp-page="../Accounts/CustAccDetails" asp-route-CustId="@item.Id" type="submit" title="حساب الزبون" name="AccDetails">
                                            @localizer.Get("") <i class="fas fa-check"></i>
                                        </a>

                                        <a asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success text-white" asp-page="../Accounts/PayToAcc" asp-route-CustId="@item.Id" type="submit" title="فواتير الزبون" name="CustomerBills">
                                            @localizer.Get("") <i class="fas fa-check"></i>
                                        </a>
                                    }

                                </form>
                            </div>
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PhoneNo)
                        </td>
                  
                    </tr>

 

            }

        </table>

    </div>

