@page
@model SumerBusinessSolution.Pages.Customers.Customers.IndexModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class=" backgroundWhite">
    <div class="row">

        <div class="col-md-6 ">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Create" class="btn btn-info" title="اضافة"> <i class="fas fa-plus"></i></a>
        </div>

        <div class="col-md-6 text-right">
            <h2 class="text-info"> @localizer.Get("الزبائن")</h2>
        </div>

    </div>

    <form method="get" asp-page="Index">
        <div class="border backgroundWhite">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2 text-md-right pb-1">

                                <button asp-route-culture="@Request.RouteValues["culture"]" title="بحث" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                            <div class="col-md-10 pb-1">
                                @Html.Editor("CustomerName", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("اسم الزبون....") } })

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div>

        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th></th>

                <th>
                    @Html.DisplayNameFor(m => m.Customer.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Customer.CompanyName)
                </th>
            </tr>

            @foreach (var item in Model.CustomerList)
            {
                <tr>

                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <td style="width:170px;">
                            <div class="btn-group" role="group">
                                <form method="post">
                                    <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-danger text-white" asp-page-handler="DeleteCustomer" asp-route-CustId="@item.Id" type="submit" title="حذف" name="Delete">
                                        @localizer.Get("") <i class="fas fa-trash-alt"></i>
                                    </button>

                                    <a asp-page="Edit" asp-route-CustId="@item.Id" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success text-white " type="submit" title="@localizer.Get("تعديل معلومات الزبون")">
                                        <i class="fas fa-user-edit"></i>
                                        @localizer.Get("")
                                    </a>
                                    <a asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-primary text-white" asp-page="../Accounts/CustAccDetails" asp-route-CustId="@item.Id" type="submit" title=@localizer.Get("حسابات الزبون") name="AccDetails">
                                        @localizer.Get("") <i class="fas fa-file-invoice-dollar"></i>
                                    </a>

                                </form>
                            </div>
                        </td>

                    }
                    else
                    {
                        <td> </td>
                    }


                    <td>
                        @Html.DisplayFor(m => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CompanyName)
                    </td>
                </tr>



            }

        </table>

    </div>
</div>

@section Scripts {


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#CustomerName').autocomplete({
    source: '@Url.Page("Index", "SearchCustomer")'
    });
         });

    </script>
}
