@page
@model SumerBusinessSolution.Pages.Users.EditModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@


<div class="border backgroundWhite right-title">

    <h2 class="text-info text-md-right">@localizer.Get("تعديل معلومات المستخدم")</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ApplicationUser.Id" hidden />
        <input asp-for="ApplicationUser.Email" hidden />
        <div class="form-group">
            <div dir="rtl" class="row">


                <div class="col-md-2">
                    <label asp-for="ApplicationUser.FirstName"></label>
                </div>
                <div class="col-md-5 offset-md-5">
                    <input asp-for="ApplicationUser.FirstName" class="form-control text-md-right" />
                </div>
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
            </div>

        </div>


        <div  class="form-group">
            <div dir="rtl" class="row">


                <div class="col-md-2">
                    @*<label asp-for="ApplicationUser.Email" class="text-info"></label>*@
                    <label>@localizer.Get("اسم الدخول")</label>
                </div>
                <div class="col-md-5 offset-md-5">
                    <input asp-for="ApplicationUser.UserName" disabled class="form-control text-md-right" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div dir="rtl" class="row">


                <div class="col-md-2">
                    @*<label asp-for="ApplicationUser.PhoneNumber" class="text-info"></label>*@
                    <label>@localizer.Get("رقم الهاتف")</label>
                </div>
                <div class="col-md-5 offset-md-5">
                    <input asp-for="ApplicationUser.PhoneNumber" class="form-control text-md-right" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
        </div>

        <div class=" form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">


                    <div class="col-md-6">
                        @*<input type="submit" class="btn btn-info form-control" value="تحديث" />*@
                        <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("تحديث")" />

                    </div>
                    <div class="col-md-6">
                        @*<a asp-page="Index" class="btn btn-success form-control">رجوع</a>*@
                        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Index" class="btn btn-secondary form-control">@localizer.Get("رجوع")</a>

                    </div>
                </div>

            </div>
        </div>

    </form>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
