@page
@model SumerBusinessSolution.Pages.Users.IndexModel
@using Sumer.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="backgroundWhite">
        <div class="row">


            @if (User.IsInRole(SD.AdminEndUser))
            {
                <div class="col-md-6">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"> <i class="fas fa-plus"></i></a>
                </div>
            }
            <div class="col-md-6 text-md-right">
                <h2 class="text-info">Users</h2>
            </div>
        </div>
       
        <form method="get" asp-page="Index">

            <div class="border backgroundWhite">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                          
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-2 text-md-right pb-1">
                                    <button type="submit" name="submit" value="search" class="btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-md-10 pb-1">
                                    @Html.Editor("SearchFirstName", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = "First Name...." } })
                                </div>
                            </div>
                            
                            </div>
                    </div>
                </div>
            </div>
        </form>



        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUser[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUser[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUser[0].PhoneNumber)
                </th>

                <th></th>
                <th></th>
                <th></th>
            </tr>

                @foreach (var item in Model.UsersListVM.ApplicationUserList)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(m => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PhoneNumber)
                        </td>

                        <td></td>
                        @if (User.IsInRole(SD.AdminEndUser))
                        {
                            <td style="width:150px;">
                                <div class="btn-group" role="group">
                                    <a asp-page="Edit" asp-route-Id="@item.Id" class="btn btn-info ext-white " title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>


                                    <a asp-page="Delete" asp-route-Id="@item.Id" class="btn btn-danger text-white" title="Delete">
                                        <i class="fas fa-user-minus"></i>
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
                }
        </table>
    </div>
