@page
@model SumerBusinessSolution.Inventory.Transfer.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <div id="fh5co-main">
        @*<div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Transfer Goods Requests</h2>
            <div class="row">
                <a class="btn-group-sm" asp-page="Create">
                    <div class="col-md-6">
                        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-document-add"></i>

                            </div>
                            <div class="fh5co-text">
                                <br />
                                <h3>Create New Transfer Goods Request</h3>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>*@

        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Transfer Goods</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <a class="btn-group-sm" asp-page="Create"><i class="icon-document-add"></i></a>
                        </div>
                        <div class="fh5co-text">
                            <br />
                            <h3>Create New Transfer Goods</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="backgroundWhite">
            <form method="get" asp-page="Index">
                <div class="container border border-secondary">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="row" style="margin-top:10px;">

                                <div class="col-md-4">
                                    @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = "Product Code...." } })
                                </div>
                                <div class="col-md-4">
                                    @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control", placeholder = "Date time....." } })
                                </div>
                                <div class="col-md-2 text-lg-right">

                                    <button type="submit" name="submit" value="search" class=" active btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>

            <br />


            <div>

                <table class="table table-striped border-info border ">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].ProdInfo.ProdCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].ProdInfo.ProdName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].FromWhId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].ToWhId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.InvTransferList[0].ApplicationUser.FirstName)

                        </th>
                        <th></th>
                    </tr>


                    @if (Model.InvTransferList.Count() == 0)
                    {
                        <h3 class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*No Transfer Goods Requests Available!</h3>
                    }
                    else
                    {

                        @foreach (var item in Model.InvTransferList)


                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                                </td>

                                <td>
                                    @Html.DisplayFor(m => item.ProdInfo.ProdName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.FromWhId)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ToWhId)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Note)
                                </td>

                                <td>
                                    @Html.DisplayFor(m => item.ApplicationUser.FirstName)
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-success text-white" asp-page-handler="ApproveTransferRequests" type="submit" title="Approve" name="Accept">
                                            Accept <i class="fas fa-edit"></i>
                                        </button>


                                        <button class="btn btn-danger text-white" asp-page-handler="RejectTransferRequests" type="submit" title="Reject" name="Reject">
                                            Reject  <i class="fas fa-edit"></i>
                                        </button>


                                        <button class="btn btn-danger text-white" asp-page-handler="DeleteTransferRequests" type="submit" title="Delete" name="Delete">
                                            Delete  <i class="fas fa-edit"></i>
                                        </button>

                                    </div>
                                </td>

                            </tr>

                        }
                    }
                </table>

            </div>
        </div>



        <br />
        <br />
        <br />

    </div>


</div>