@page
@model SumerBusinessSolution.RequestDetailsModel
@using SumerBusinessSolution.Models
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "RequestDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite">
    <h2 class="text-info text-md-right">@localizer.Get("تفاصيل الطلب")</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <form method="post">
        <input type="hidden" asp-for="ReqId" />
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <input asp-for="InvTransferHeader.FromWarehouse.WhName" class="form-control text-md-right" disabled />
                <span asp-validation-for="InvTransferHeader.FromWarehouse.WhName" class="text-danger"> </span>
            </div>
            <div class="col-md-2">
                <label asp-for="InvTransferHeader.FromWarehouse.WhName"></label>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <input asp-for="InvTransferHeader.ToWarehouse.WhName" class="form-control text-md-right" disabled />
                <span asp-validation-for="InvTransferHeader.ToWarehouse.WhName" class="text-danger"> </span>
            </div>
            <div class="col-md-2">
                <label asp-for="InvTransferHeader.ToWarehouse.WhName"></label>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <input asp-for="InvTransferHeader.Note" class="form-control text-md-right" disabled />
                <span asp-validation-for="InvTransferHeader.Note" class="text-danger"> </span>
            </div>
            <div class="col-md-2">
                <label asp-for="InvTransferHeader.Note"></label>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <input asp-for="InvTransferHeader.ApplicationUser.FirstName" class="form-control text-md-right" disabled />
                <span asp-validation-for="InvTransferHeader.ApplicationUser.FirstName" class="text-danger"> </span>
            </div>
            <div class="col-md-2">
                <label asp-for="InvTransferHeader.ApplicationUser.FirstName"></label>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <input asp-for="InvTransferHeader.CreatedDateTime" class="form-control text-md-right" disabled />
                <span asp-validation-for="InvTransferHeader.CreatedDateTime" class="text-danger"> </span>
            </div>
            <div class="col-md-2">
                <label> تاريخ الطلب</label>
            </div>
        </div>

        @*<table>
                <tr>
                    <td>
                        <label asp-for="@Model.InvTransferHeader.FromWarehouse.WhName"></label>
                    </td>
                    <td>
                        <input asp-for="@Model.InvTransferHeader.FromWarehouse.WhName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.InvTransferHeader.ToWarehouse.WhName"></label>
                    </td>
                    <td>
                        <input asp-for="@Model.InvTransferHeader.ToWarehouse.WhName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.InvTransferHeader.Note"></label>
                    </td>
                    <td>
                        <input asp-for="@Model.InvTransferHeader.Note" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.InvTransferHeader.ApplicationUser.FirstName"></label>
                    </td>
                    <td>
                        <input asp-for="@Model.InvTransferHeader.ApplicationUser.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="@Model.InvTransferHeader.CreatedDateTime"></label>
                    </td>
                    <td>
                        <input asp-for="@Model.InvTransferHeader.CreatedDateTime" />
                    </td>
                </tr>
            </table>*@

        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th></th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfer.Note)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.InvTransfer.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfer.ProdInfo.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfer.ProdInfo.ProdCode)
                </th>
            </tr>

            @if (Model.InvTransferList.Count() == 0)
            {
                <h2 class="text-danger text-md-center"> @localizer.Get("لا يوجد طلبات سابقة")</h2>

            }
            else
            {
                @foreach (var item in Model.InvTransferList)
                {
                    <tr>

                        <td style="width:150px;">

                            @if (Model.InvTransferList.Count() > 1)
                            {



                                <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-danger text-white" asp-page-handler="DeleteTransferRequestsLine" asp-route-LineId="@item.Id" asp-route-ReqId="@item.HeaderId" type="submit" title="حذف" name="Delete">
                                    @localizer.Get("") <i class="fas fa-trash-alt"></i>
                                </button>
                            }

                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                        </td>
                    </tr>

                }

            }

        </table>
       

            <div class=" form-group row">
                <div class="col-md-5 offset-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            @*<a asp-page="Index" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success form-control">@localizer.Get("رجوع")</a>*@
                            <a asp-page="Index" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-secondary form-control">
                                @localizer.Get("رجوع")
                            </a>
                        </div>
                        <div class="col-md-3">
                            @*<a asp-page="Index" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success form-control">@localizer.Get("رجوع")</a>*@

                            <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-dark text-white" asp-page-handler="DeleteTransferRequests" asp-route-ReqId="@Model.InvTransferHeader.Id" type="submit" title="حذف" name="Delete">
                                @localizer.Get("") <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>

                        @if (User.IsInRole(SD.AdminEndUser) || (User.IsInRole(SD.SupervisorEndUser) & Model.RoleAuth.AppTransReq == true))
                        {
                            <div class="col-md-3">

                                <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-danger text-white" asp-page-handler="RejectTransferRequests" asp-route-ReqId="@Model.InvTransferHeader.Id" type="submit" title="رفض" name="Reject">
                                    @localizer.Get("") <i class="fas fa-window-close"></i>
                                </button>

                            </div>
                            <div class="col-md-3">

                                <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-info text-white" asp-page-handler="ApproveTransferRequests" asp-route-ReqId="@Model.InvTransferHeader.Id" type="submit" title="قبول" name="Approve">
                                    @localizer.Get("") <i class="fas fa-check"></i>
                                </button>

                            </div>
                        }
                    </div>

                </div>
            </div>

            @*<form method="post">
                    <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success text-white" asp-page-handler="ApproveTransferRequests" asp-route-ReqId="@Model.InvTransferHeader.Id" type="submit" title="Approve" name="Approve">
                        @localizer.Get("قبول الطلب") <i class="fas fa-check"></i>
                    </button>
                    <button asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-danger text-white" asp-page-handler="RejectTransferRequests" asp-route-ReqId="@Model.InvTransferHeader.Id" type="submit" title="Reject" name="Reject">
                        @localizer.Get("رفض الطلب") <i class="fas fa-window-close"></i>
                    </button>
                </form>*@
        

    </form>
</div>

