@page
@model SumerBusinessSolution.Pages.Sales.Billings.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>

</head>
<body style="margin-left:150px;">


    <style>
        th {
            text-align: left;
        }

        td {
            padding: 5px;
        }
    </style>
    <div style="width:700px; padding:5px; background-color:white;">
        <table id="dataTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Product Code</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Total Amt</th>
                <th>Note</th>
                <th></th>
            </tr>
            @if (Model.Bi != null && Model.Bi.Count > 0)
            {
                <tr>
                    <td>
                        <select asp-for="a => @Model.BillHeader.CustId"
                                asp-items="@(new SelectList(Model.Customer, "Id", "CompanyName"))"
                                class="form-control ">
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>???????</td>
                    <td>
                        <input type="text" asp-for="a => @Model.BillHeader.Note" class="form-control text-md-right" />
                    </td>
                </tr>
                <tr>
                    <td>?????? ??????</td>
                    <td>
                        <input type="text" asp-for="a => @Model.BillHeader.PaidAmt" class="form-control text-md-right" />
                    </td>
                </tr>
                <tr>
                    <td>?????</td>
                    <td>
                        <input type="text" asp-for="a => @Model.BillHeader.Discount" class="form-control text-md-right" />
                    </td>
                </tr>
            }
        </table>
        <button onclick="sendToServer()">
            Save
        </button>
        <button onclick="addToTable()"> Add table</button>
    </div>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            addToTable()
        });

        let tableList = 0

        function addToTable() {
            if(tableList >= 15) {
                return
            }
            const tableLineNumber = tableList

            const dataTable = $('#dataTable')
             
            dataTable.append(`
                <tr style="border:1px solid black">
                    <td><input type="text" name="Id" id="ProdInfo${tableLineNumber}"  class="form-control text-md-right" /></td>
                    <td><input type="text" name="qty" id="qty${tableLineNumber}"  class="form-control text-md-right" /></td>
                    <td><input type="text" name="UnitPrice" id="UnitPrice${tableLineNumber}"  class="form-control text-md-right" /></td>
                    <td><input type="text" name="TotalAmt" id="TotalAmt${tableLineNumber}"  class="form-control text-md-right" /></td>
                    <td><input type="text" name="Note" id="Note${tableLineNumber}" class="form-control text-md-right" /></td>
                    <td></td>
                </tr>
            `)
        c
             $(`#ProdInfo${tableLineNumber}`).autocomplete({
                 source: '@Url.Page("Create", "SearchNow")'

             });

            $(`#ProdInfo${tableLineNumber}`).change(() => {
                fetch(`${window.location.href}?handler=ProdUnitPrice&term=${ $('#ProdInfo' + tableLineNumber).val()}`).then(x => x.json()).then(x => $(`#UnitPrice${tableLineNumber}`).val(x[0]))

            });

            $(`#qty${tableLineNumber}`).change(() => {
                $(`#TotalAmt${tableLineNumber}`).val($(`#qty${tableLineNumber}`).val() * $(`#UnitPrice${tableLineNumber}`).val())
            })

            tableList++

        }


       async function sendToServer() {
            for(let i = 0; i < tableList; i++){
                const ProdID = $(`#ProdInfo${i}`).val()
                const qty = $(`#qty${i}`).val()
                const unitPrice = $(`#UnitPrice${i}`).val()
                const totalAmt = $(`#TotalAmt${i}`).val()
                const note = $(`#Note${i}`).val()

                await fetch(`${window.location.href}?handler=SaveRequest&num=${i}&prodID=${ProdID}&qty=${qty}&unitPrice=${unitPrice}&totalAmt=${totalAmt}&note=${note}`)
            }
            await fetch(`${window.location.href}?handler=ApplyRequest`)
        }

    </script>
}


