@page
@model SumerBusinessSolution.Pages.Sales.Billings.DetailsPageModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class=" border backgroundWhite right-title">
    <div dir="rtl" class="row">


        <div class="col-md-6 text-right">
            <h2 class="text-info text-md-right">  @localizer.Get("تفاصيل الفاتورة")</h2>

        </div>
       
        <div class="col-md-6 ">
            <form method="get">
                <a asp-route-culture="@Request.RouteValues["culture"]" asp-page-handler="PrintBill" asp-route-BhId="@Model.BillHeader.Id" name="PrintBill" title="طباعة الفاتورة" class="btn btn-info"> <i class="fas fa-print"></i> طباعة الفاتورة</a>
            </form>
                </div>
      

    </div>
    

    <form method="post">
        <input type="hidden" asp-for="BillHeader.Id" />
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.Id"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.Id" class="form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.Id" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.Customer.CompanyName"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.Customer.CompanyName" class="form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.Customer.CompanyName" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.ApplicationUser.FirstName"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.ApplicationUser.FirstName" class="form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.ApplicationUser.FirstName" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.CreatedDataTime"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input value="@Model.BillHeader.CreatedDataTime" class="form-control text-md-right" disabled />
                @*<span asp-validation-for="@Model.BillHeader.CreatedDataTime" class="text-danger"> </span>*@

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.PaymentTerms"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.PaymentTerms" class="form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.PaymentTerms" class="text-danger"> </span>

            </div>
        </div>
        <table class="table table-striped border  table-responsive-sm text-md-center ">
            <tr class="table-secondary">

                <th>
                    @Html.DisplayNameFor(m => m.BillItems.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.TotalAmt)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.ProdInfo.ProdCode)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.ProdInfo.ProdName)
                </th>
                <th>ت</th>

            </tr>
            @{int RowNo = 0;}

            @foreach (var item in Model.BillItemsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Note)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.TotalAmt)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ProdInfo.ProdName)
                    </td>
                    <td>@{RowNo++;} @RowNo</td>
                </tr>

            }
        </table>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="@Model.BillHeader.TotalAmt"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.TotalAmt" class="form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.TotalAmt" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label class="text-info" asp-for="@Model.BillHeader.TotalNetAmt"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.TotalNetAmt" class=" text-info form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.TotalNetAmt" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label class="text-warning" asp-for="@Model.BillHeader.Discount"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.Discount" class=" text-warning form-control text-md-right" disabled />
                <span asp-validation-for="@Model.BillHeader.Discount" class="text-danger"> </span>

            </div>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label class="text-success" asp-for="@Model.BillHeader.PaidAmt"></label>

            </div>

            <div class="col-md-5 offset-md-5">
                <input asp-for="@Model.BillHeader.PaidAmt" class="form-control text-md-right text-success" disabled />
                <span asp-validation-for="@Model.BillHeader.PaidAmt" class="text-danger"> </span>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 offset-md-5">

                <div class="row text-center pb-3 pr-5">
                    @*<div class="col-md-6">

                        <a asp-page="Index" class="btn btn-secondary form-control" asp-route-culture="@Request.RouteValues["culture"]"> رجوع</a>

                    </div>*@
                    @if (Model.BillHeader.Status == SD.OpenBill)
                    {
                        <div class="col">
                            <a asp-route-BhId="@Model.BillHeader.Id" asp-page="MakePayment" asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-success form-control">
                                @localizer.Get("تسديد")
                            </a>
                        </div>
                    }

                    @if (User.IsInRole(SD.AdminUser) && (Model.BillHeader.Status == SD.OpenBill))
                    {
                        <div class="col">
                            <a asp-route-culture="@Request.RouteValues["culture"]" data-toggle="modal" data-target="#Ask" class="btn btn-danger form-control" asp-page-handler="CloseBillManually" asp-route-HeaderId="@Model.BillHeader.Id" type="submit" name="Close">
                                @localizer.Get("اغلاق")
                            </a>
                        </div>
                        <div class="modal fade" id="Ask" role="dialog" method="post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="alert alert-danger">@localizer.Get("هل انت متأكد؟")</p>
                                    </div>
                                    <div class="modal-footer">
                                        <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" asp-page-handler="CloseBillManually" asp-route-HeaderId="@Model.BillHeader.Id" class="btn btn-info" value="@localizer.Get("نعم")" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <a asp-route-culture="@Request.RouteValues["culture"]" data-toggle="modal" data-target="#AskDelete" class="btn btn-dark form-control" asp-page-handler="DeleteBill" asp-route-HeaderId="@Model.BillHeader.Id" type="submit" name="DeleteBill">
                                @localizer.Get("حذف")
                            </a>
                        </div>
                        <div class="modal fade" id="AskDelete" role="dialog" method="post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="alert alert-danger">@localizer.Get("هل انت متأكد؟")</p>
                                    </div>
                                    <div class="modal-footer">
                                        <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" asp-page-handler="DeleteBill" asp-route-HeaderId="@Model.BillHeader.Id" class="btn btn-info" value="@localizer.Get("نعم")" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <a asp-route-BhId="@Model.BillHeader.Id" asp-page="Edit" asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control">
                                @localizer.Get("تعديل")
                            </a>
                        </div>

                    }

                    <div class="col">
                        <a asp-page="Index" class="btn btn-secondary form-control" asp-route-culture="@Request.RouteValues["culture"]"> رجوع</a>

                    </div>
                </div>



            </div>
        </div>
    </form>
</div>


