@page
@model SumerBusinessSolution.DetailsoldModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@


@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="border backgroundWhite">
    @*<h2 class="text-info">المواد الواردة </h2>*@
    <h2 class="text-info text-md-right">  @localizer.Get("تفاصيل الفاتورة")</h2>

    <form method="post">

        <div class="form-group row ">
            <input type="hidden" asp-for="BillHeader.Id" />
            <div class="col-md-5 offset-md-5">
                <input type="text" id="ProdInfo" asp-for="BillHeader.Id" class="form-control text-md-right" disabled />
            </div>
            <div class="col-md-2 ">
                <label asp-for="BillHeader.Id"></label>
            </div>

        </div>



        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="BillHeader.Customer.CompanyName" class="form-control  text-md-right" disabled />


            </div>
            <div class="col-md-2">
                <label asp-for="BillHeader.Customer.CompanyName"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="BillHeader.TotalAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.TotalAmt"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="BillHeader.Discount" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.Discount"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="BillHeader.TotalNetAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.TotalNetAmt"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="BillHeader.PaidAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.PaidAmt"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="BillHeader.CreatedDataTime" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.CreatedDataTime"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="BillHeader.Status" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.Status"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="BillHeader.ApplicationUser.FirstName" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="BillHeader.ApplicationUser.FirstName"></label>
            </div>
        </div>

        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th>
                    @Html.DisplayNameFor(m => m.BillItems.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.TotalAmt)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BillItems.ProdInfo.ProdCode)
                </th>

            </tr>

            @foreach (var item in Model.BillItemsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Note)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.TotalAmt)
                        </td>
                       <td>
                            @Html.DisplayFor(m => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Qty)
                        </td>
                     <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                        </td>
                    </tr>

                }



        </table>


        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">
                    <div class="col-md-6">
                         
                            <input asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success form-control" type="button" value="@localizer.Get("الغاء")" onclick="history.back()">
                       
                    </div>
                    <div class="col-md-6">
                        <a asp-route-BhId="@Model.BillHeader.Id" asp-page="MakePayment" asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" >
                            @localizer.Get("تسديد الفاتورة")
                        </a>
                    </div>

                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-7">
                    <button type="submit" class="btn btn-info"  onclick="return ValidateInput()">تخزين</button>
                    <a asp-page="Index" class="btn btn-success form-control">رجوع</a>

                </div>
            </div>*@

    </form>
</div>


