@page
@model SumerBusinessSolution.PrintBillModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@inject Services.CommonLocalizationService localizer
@{
    Layout = null;
    var datelable = "تاريخ الفاتورة";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @*<link rel="stylesheet" href="~/css/LayoutStyle.css">
        <link rel="stylesheet" href="~/css/site.css" />*@

    <style>
        .backgroundWhite {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
        }

        .textp {
        }

            .textp p {
                font-style: italic;
                font-weight: bold;
                font-size: 23px;
            }

        /*.form-control {
            height: 34px;
            padding: 6px 12px;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }*/

        .form-control2 {
            width: 30%;
            height: 34px;
            padding: 6px 12px;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }


        body {
            font-family: 'Open Sans';
            /*font-weight: normal;*/
            font-size: 14px !important;
            color: #6a6a6a !important;
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        page {
            size: 8.5in 11.0in;
        }

        .gfg {
            border-collapse: separate;
            border-spacing: 0 15px;
        }
    </style>
</head>
<body>
    <div class="border backgroundWhite" dir="rtl">


        <table align="center" style="width:100%; text-align:center">
            <tr>
                <td></td>
                <td colspan="2">
                    <a href="#">
                        <img src="/image/Bnas Logo.jpeg" style="width:250px;height:250px;">
                    </a>
                </td>
                <td></td>
            </tr>
        </table>
        <br />
        <table align="center" cellpadding="0" style="width: 100%; border: 2.7px solid black; border-radius: 25px;padding-right:15px; padding-left:15px" class="gfg">

            <tr>
                <td colspan="2">

                    <input type="text" class="form-control  text-md-right" width="100%" value="@Model.CompanyInfo.AddressAr">

                </td>
                <td colspan="2">

                    <input type="text" class="form-control text-md-right" width="100%" value="@Model.CompanyInfo.PhoneNo/@Model.CompanyInfo.PhoneNo02">

                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" class="form-control  text-md-right" width="100%" value="@Model.CompanyInfo.AddressEn">

                </td>
                <td colspan="2">

                    <input type="text" class="form-control  text-md-right" width="100%" value="@Model.CompanyInfo.Email">

                </td>

            </tr>
        </table>

        <table align="center" style="width:100%" class="table table-responsive-sm table-borderless text-md-right">


            <tbody style="text-align:right">
                <tr>
                    <td>

                        <input type="text" class="form-control text-md-right" width="100%" value="اسم الموظف &nbsp; :  @Model.BillHeader.ApplicationUser.FirstName">

                    </td>
                    <td colspan="2">

                        <input type="text" class="form-control text-md-right" width="100%" value=" اسم الزبون &nbsp; :@Model.BillHeader.Customer.CompanyName">

                    </td>

                    <td colspan="2">

                        <input type="text" class="form-control text-md-right" width="100%" value="رقم الفاتورة &nbsp; :@Model.BillHeader.Id ">

                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                        <input type="text" width="100%" class="form-control text-md-right" value=" الدفع  &nbsp;: @Model.BillHeader.PaymentTerms" />

                    </td>
                    <td colspan="3">

                        <input type="text" class="form-control text-md-right" width="100%" value=" @datelable &nbsp; : @Model.BillHeader.CreatedDataTime.ToString("dd/MM/yyyy hh:mm:ss tt", CultureInfo.InvariantCulture)" />


                    </td>

                </tr>
            </tbody>

        </table>

        <br />
        <table dir="ltr" class="table table-striped table-bordered  table-responsive-sm text-md-center">
            <thead>
                <tr>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.Note)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.TotalAmt)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.UnitPrice)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.Qty)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.ProdInfo.ProdCode)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">
                            @Html.DisplayNameFor(m => m.BillItems.ProdInfo.ProdName)
                        </font>
                    </th>
                    <th>
                        <font style="vertical-align: inherit;">ت</font>
                    </th>

                </tr>
            <tbody>
                @{int RowNo = 0;}

                @foreach (var item in Model.BillItemsList)
                {
                    <tr>
                        <td>
                            <font style="vertical-align: inherit;">
                                @Html.DisplayFor(m => item.Note)
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;">
                                @Html.DisplayFor(m => item.TotalAmt)
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;">
                                @Html.DisplayFor(m => item.UnitPrice)
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;">
                                @Html.DisplayFor(m => item.Qty)
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;">
                                @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;"> @Html.DisplayFor(m => item.ProdInfo.ProdName)</font>
                        </td>
                        <td>@{RowNo++;} @RowNo</td>
                    </tr>
                }


            </tbody>
        </table>
        <table dir="ltr" class="table table-responsive-sm text-md-right">
            <tbody style="text-align:right">
                <tr>
                    <td colspan="2">

                        <input type="text" class="form-control text-md-right" value="@Model.BillHeader.TotalAmt &nbsp; : المبلغ الكلي">

                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control text-md-right" value="@Model.BillHeader.Discount &nbsp; : التخفيض" />

                    </td>
                    <td>
                        <input type="text" class="form-control text-md-right" value="@Model.BillHeader.TotalNetAmt &nbsp; : المبلغ الاجمالي" />

                    </td>
                </tr>
                <tr>
                    <td colspan="6">

                        <input type="text" class="form-control  text-md-right" value="@Model.BillHeader.PaidAmt &nbsp; : المبلغ المدفوع">


                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
