@page
@model SumerBusinessSolution.Pages.Inventory.Reports.InvTransactionsModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "InvTransactions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class=" backgroundWhite">
    <div class="row">
        <div class="col-md-12 text-md-right">
            @*<h2 class="text-info">تقارير العمليات التجارية  </h2>*@
            <h2 class="text-info">@localizer.Get("تقرير العمليات التجارية")</h2>

        </div>

    </div>


    <form method="get" asp-page="InvTransactions">
        <div class="border backgroundWhite">
            <div @*style="height:60px;"*@ class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-1 text-md-right pb-1">

                                <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                            <div class="col-md-3 pb-1">
                                <select asp-for="WhId"
                                        asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                                        class="form-control">
                                    @*<option value="null">اختار المخزن</option>*@
                                    <option value="null">@localizer.Get("اختر المخزن")</option>

                                </select>
                            </div>
                            <div class="col-md-4 pb-1">
                                @*@Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = ".....رمز المنتج " } })*@
                                @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                            </div>
                            <div class="col-md-4 pb-1">
                                @*@Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control", placeholder = "..... تاريخ الاضافه " } })*@
                                @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("تاريخ العملية....") } })

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>







    <div>
        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th></th>
                <th></th>

                <th>
                    @Html.DisplayNameFor(m => m.InvTransList[0].TransType)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransList[0].Warehouse.WhName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransList[0].Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransList[0].ProdInfo.ProdName)
                </th>
            </tr>

            @if (Model.InvTransList.Count() == 0)
            {
                @*<h2 class="text-danger text-md-center">لا يوجد تقرير للعمليات التجارية</h2>*@
        <h2 class="text-danger text-md-center">@localizer.Get("لا يوجد تقرير للعمليات التجارية ")</h2>

            }
            else
            {
                @foreach (var item in Model.InvTransList)
                {

        <tr>

            <td>
                @*<a asp-page="../Transactions/ProdTrans" asp-route-TransId="@item.Id" style="text-decoration:none;">
            <img src="~/images/car.png" width="40" /> &nbsp; تفاصيل
        </a>*@
              
                <a class="btn btn-info" asp-route-culture="@Request.RouteValues["culture"]" asp-page="../Transactions/ProdTrans" asp-route-TransId="@item.Id" title="تفاصيل العملية"><i class="far fa-clipboard"></i>@localizer.Get("")</a>

            </td>
            <td>
                @*<a asp-page="../Products/Details" asp-route-ID="@item.ProdInfo.Id" style="text-decoration:none;">
            <img src="~/images/car.png" width="40" /> &nbsp; تفاصيل المنتج
        </a>*@
              
                <a class="btn btn-primary" asp-route-culture="@Request.RouteValues["culture"]" asp-page="../Products/Details" asp-route-ID="@item.ProdInfo.Id" title="تفاصيل المنتج"><i class="far fa-clipboard"></i>@localizer.Get("")</a>

            </td>
            <td>
                @Html.DisplayFor(m => item.TransType)
            </td>
            <td>
                @Html.DisplayFor(m => item.Warehouse.WhName)
            </td>
            @if (item.Qty < 10)
            {
                <td class="bg-danger">
                    @Html.DisplayFor(m => item.Qty)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(m => item.Qty)
                </td>
            }
            <td>
                @Html.DisplayFor(m => item.ProdInfo.ProdName)
            </td>
        </tr>
                }
            }
        
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#SearchProdCode').autocomplete({
    source: '@Url.Page("InvTransactions", "SearchNow")'
    });
    });
    </script>
}


