@page
@model SumerBusinessSolution.Pages.Inventory.Reports.InvTransactionsModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "InvTransactions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class=" backgroundWhite">
        <div class="row">
            <div class="col-md-12 text-md-right">
                @*<h2 class="text-info">تقارير العمليات التجارية  </h2>*@
                <h2 class="text-info">@localizer.Get("تقرير العمليات التجارية")</h2>

            </div>

        </div>

        <form method="get" asp-page="Index">
            <div class="border backgroundWhite">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div dir="rtl" class="row" style="margin-top:10px;">

                                <div class="col-md-3 pb-1">
                                    <div dir="rtl" class="form-group row float-md-right">
                                        <div>
                                            <label asp-for="SearchFromDate" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input hidden asp-for="SearchFromDate" />
                                            <input type="text" class="datepicker form-control" id="SearchFromDatePicker" autocomplete="off">
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-3 pb-1">
                                    <div dir="rtl" class="form-group row float-md-right">

                                        <div>
                                            <label asp-for="SearchToDate" class="control-label"></label>
                                        </div>
                                        <div>
                                            <input hidden asp-for="SearchToDate" />
                                            <input type="text" class="datepicker form-control" id="SearchToDatePicker" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-1">
                                    @Html.Editor("SearchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                                </div>
                                <div class="col-md-2 text-md-right pb-1">
                                    <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" title="بحث" value="search" class="btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @*<form method="get" asp-page="InvTransactions">
            <div class="border backgroundWhite">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-1 text-md-right pb-1">

                                    <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </div>
                                <div class="col-md-3 pb-1">
                                    <select asp-for="WhId"
                                            asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                                            class="form-control">
                                        <option value="null">@localizer.Get("اختر المخزن")</option>

                                    </select>
                                </div>
                                <div class="col-md-4 pb-1">
                                    @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                                </div>
                                <div class="col-md-4 pb-1">
                                    @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("تاريخ العملية....") } })

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>*@

        <div>
            <table class="table table-striped border table-responsive-md table-responsive-lg text-md-center">
                <tr class="table-secondary">

                    <th></th>
                    <th></th>

                    <th>
                        @Html.DisplayNameFor(m => m.InvTrans.TransType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTrans.Warehouse.WhName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTrans.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTrans.ProdInfo.ProdName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTrans.ProdInfo.ProdCode)
                    </th>
                </tr>

                @if (Model.InvTransList.Count() == 0)
                {
                    @*<h2 class="text-danger text-md-center">لا يوجد تقرير للعمليات التجارية</h2>*@
                    <h2 class="text-danger text-md-center">@localizer.Get("لا يوجد تقرير للعمليات التجارية ")</h2>

                }
                else
                {
                    @foreach (var item in Model.InvTransList)
                    {

            <tr>

                <td>
                    @*<a asp-page="../Transactions/ProdTrans" asp-route-TransId="@item.Id" style="text-decoration:none;">
                <img src="~/images/car.png" width="40" /> &nbsp; تفاصيل
            </a>*@

                    <a class="btn btn-info" asp-route-culture="@Request.RouteValues["culture"]" asp-page="../Transactions/ProdTrans" asp-route-TransId="@item.Id" title="تفاصيل العملية"><i class="fas fa-receipt"></i>@localizer.Get("")</a>

                </td>
                <td>
                    @*<a asp-page="../Products/Details" asp-route-ID="@item.ProdInfo.Id" style="text-decoration:none;">
                <img src="~/images/car.png" width="40" /> &nbsp; تفاصيل المنتج
            </a>*@

                    <a class="btn btn-primary" asp-route-culture="@Request.RouteValues["culture"]" asp-page="../Products/Details" asp-route-ID="@item.ProdInfo.Id" title="تفاصيل المنتج"><i class="far fa-clipboard"></i>@localizer.Get("")</a>

                </td>
                <td>
                    @Html.DisplayFor(m => item.TransType)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Warehouse.WhName)
                </td>
                @if (item.Qty < 0 )
                {
                    <td class="bg-danger">
                        @Html.DisplayFor(m => item.Qty)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(m => item.Qty)
                    </td>
                }
                <td>
                    @Html.DisplayFor(m => item.ProdInfo.ProdName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                </td>
            </tr>
                    }
                }

            </table>
        </div>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#SearchProdCode').autocomplete({
    source: '@Url.Page("InvTransactions", "SearchNow")'
    });
         });
        
            $('.datepicker').val('');
            $('.datepicker').text('');
            $('.datepicker').datepicker();
            $('.datepicker').datepicker("option", "dateFormat", "dd/mm/yy");
            $('.ui-datepicker').addClass('notranslate');
            $('#SearchFromDatePicker').datepicker("option", "altField", "#SearchFromDate");
            $('#SearchFromDatePicker').datepicker("option", "altFormat", "yy-mm-dd");
            $('#SearchToDatePicker').datepicker("option", "altField", "#SearchToDate");
            $('#SearchToDatePicker').datepicker("option", "altFormat", "yy-mm-dd");
    </script>
}


