@page
@model SumerBusinessSolution.Pages.Inventory.Reports.WhProdQtyModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "WhProdQty";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="backgroundWhite">

    <div class="row">
        <div class="col-md-12 text-md-right">
            @*<h2 class="text-info">تقارير كمية المواد في المخزن </h2>*@
            <h2 class="text-info">@localizer.Get("تقرير كمية المادة في المخزن ")</h2>
        </div>

    </div>

    <form method="get" asp-page="WhProdQty">
        <div class="border backgroundWhite">
            <div @*style="height:60px;"*@ class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <div dir="rtl" class="row" style="margin-top:10px;">
                            <div class="col-md-5 pb-1">
                                @*@Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = ".....رمز المنتج " } })*@
                                @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                            </div>
                            <div class="col-md-5 pb-1">
                                <select asp-for="WhId"
                                        asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                                        class="form-control text-md-right">
                                    @*<option value="" disabled selected>اختار المخزن</option>*@
                                    <option value="" disabled selected>@localizer.Get("اختر المخزن")</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-md-right pb-1">
                                <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>





    <div>
        <table class="table table-striped border table-responsive-md table-responsive-lg text-md-center">
            <tr class="table-secondary">

                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(m => m.InvStockQtyList[0].Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvStockQtyList[0].ProdInfo.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvStockQtyList[0].ProdInfo.ProdCode)
                </th>
                <th></th>
            </tr>
            @if (Model.InvStockQtyList.Count() == 0)
            {
        <h2 class="text-danger text-md-center">@localizer.Get("لا يوجد تقرير لكمية المادة في المخزن")</h2>

            }
            else
            {
                @foreach (var item in Model.InvStockQtyList)
                {

        <tr>

            <td>
                <a class="btn btn-info" asp-route-culture="@Request.RouteValues["culture"]" title="العمليات التجارية للمنتج" asp-page="../Transactions/ProdTrans" asp-route-ProdId="@item.ProdId" asp-route-WhId="@item.WhId">
                    <i class="fas fa-receipt"></i>@localizer.Get("")
                </a>

            </td>
            <td>

                <a class="btn btn-primary" asp-route-culture="@Request.RouteValues["culture"]" title="تفاصيل المنتج" asp-page="../Products/Details" asp-route-ID="@item.ProdInfo.Id">
                    <i class="far fa-clipboard"></i>@localizer.Get("")
                </a>
            </td>
            @if (item.Qty < 10)
            {
                <td class="bg-danger">
                    @Html.DisplayFor(m => item.Qty)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(m => item.Qty)
                </td>
            }
            <td>
                @Html.DisplayFor(m => item.ProdInfo.ProdName)
            </td>
            <td>
                @Html.DisplayFor(m => item.ProdInfo.ProdCode)
            </td>
            <td></td>
        </tr>
                }
            }
 
        </table>
    </div>
</div>





@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#searchProdCode').autocomplete({
    source: '@Url.Page("WhProdQty", "SearchNow")'
    });
    });
    </script>
}

