@page
@model SumerBusinessSolution.Inventory.Warehouses.IndexModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="float-md-right">
        <a asp-page="/index" title="الرئيسية" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-info">

            <i class="fas fa-home"></i>

        </a>
    </div>
    <div class=" backgroundWhite">
        <div dir="rtl" class="row">

            <div class="col-md-6">
                @*<h2 class="text-info">المنتجات</h2>*@
                <h2 class="text-info text-md-right">@localizer.Get("المخازن")</h2>

            </div>
            @if (User.IsInRole(SD.AdminUser))
            {
                <div class="col-md-6">
                    <a asp-page="Create" asp-route-culture="@Request.RouteValues["culture"]" title="اضافة" class="btn btn-info"> <i class="fas fa-plus"></i></a>
                </div>
            }
        </div>
        @*<form method="get" asp-page="Index">
            <div class="border backgroundWhite">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-2 text-md-right pb-1">
                                    <button asp-route-culture="@Request.RouteValues["culture"]" title="بحث" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-md-5 pb-1">

                                    @Html.Editor("searchWhCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المخزن....") } })

                                </div>
                                <div class="col-md-5 pb-1">
                                    @Html.Editor("searchWhName", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = "اسم المخزن...." } })

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>*@


        <div>
            <table class="table table-striped border table-responsive-sm text-md-center">
                <tr class="table-secondary">
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].CreatedDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].ApplicationUser.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].WhType.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].WhLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].WhName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Warehouse[0].WhCode)
                    </th>
                </tr>
                @if (Model.Warehouse.Count() == 0)
                {
                    @*<h2 class="text-danger text-md-center">لا يوجد مخازن مضافة     </h2>*@
                    <h2 class="text-danger text-md-center">@localizer.Get("لا يوجد مخازن مضافة")</h2>

                }
                else
                {
                    @foreach (var item in Model.Warehouse)
                    {
                        <tr>
                            <td>
                                <form>

                                    <a class="btn btn-success" asp-route-culture="@Request.RouteValues["culture"]" asp-page="Edit" asp-route-WhId="@item.Id" type="submit" title="تعديل"><i class="fa fa-edit"></i>@localizer.Get("")</a>

                                </form>
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.CreatedDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ApplicationUser.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.WhType.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.WhLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.WhName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.WhCode)
                            </td>


                        </tr>
                    }
                }
            </table>

        </div>
         
    </div>

