@page
@model SumerBusinessSolution.Pages.Inventory.IncomingGoods.CreateModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@


@{
    ViewData["Title"] = "CreateIncomingGoods";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="  border backgroundWhite right-title ">
    <form id="productForm" action="/inventory/products/create?handler=Product" title="" method="post">

        <div dir="rtl" class="row">
            <div class="col-md-5 offset-md-4 ">
                <h2 class="text-info text-md-right">  @localizer.Get("أضافة مواد واردة")</h2>
            </div>
            <div class="col-md-3 ">
                <a asp-route-culture="@Request.RouteValues["culture"]" data-toggle="modal" data-target="#prodModal" class="btn btn-info" name="CreateProduct">
                    @localizer.Get("مادة جديد") <i class="fas fa-plus"></i>

                </a>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="modal fade " id="prodModal" role="dialog" method="post" dir="rtl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-6">
                            <h3 class="modal-title text-info "> اضافة مادة جديدة</h3>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="close float-md-left" data-dismiss="modal">&times;</a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="alert alert-danger" style="display:none; margin:10px;" id="prod-validation-error">

                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 ">
                                    <label asp-for="ProdInfo.ProdCode"> </label>
                                </div>
                                <div class="col-md-5 ">
                                    <input asp-for="ProdInfo.ProdCode" class="form-control  text-md-right" />
                                </div>
                                <span asp-validation-for="ProdInfo.ProdCode" class="text-danger"></span>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3" >
                                    <label asp-for="ProdInfo.ProdName"> </label>
                                </div>
                                <div class="col-md-5 ">
                                    <input asp-for="ProdInfo.ProdName" class="form-control  text-md-right" />
                                </div>
                                <span asp-validation-for="ProdInfo.ProdName" class="text-danger"></span>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label asp-for="ProdInfo.CostPrice"> </label>
                                </div>
                                <div class="col-md-5 ">
                                    <input asp-for="ProdInfo.CostPrice" class="form-control  text-md-right" />
                                </div>
                                <span asp-validation-for="ProdInfo.CostPrice" class="text-danger"></span>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label asp-for="ProdInfo.RetailPrice"> </label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="ProdInfo.RetailPrice" class="form-control  text-md-right" />
                                </div>
                                <span asp-validation-for="ProdInfo.RetailPrice" class="text-danger"></span>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 ">
                                    <label asp-for="ProdInfo.WholePrice"> </label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="ProdInfo.WholePrice" class="form-control  text-md-right" />
                                </div>
                                <span asp-validation-for="ProdInfo.WholePrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer" dir="ltr">

                            <a href="#" class="btn btn-danger" data-dismiss="modal">الغاء</a>
                            <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info" id="btnCreateProd" value="@localizer.Get("اضافة")" />
                            @*<input class="btn-default" type="button" id="btnCreateProd" value="Save" />*@
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>


    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row form-group" dir="rtl">
            <div class="col-md-2 ">
                <label asp-for="@Model.WhId"> </label>
            </div>
            <div class="col-md-5 offset-md-5">
                <select asp-for="@Model.WhId"
                        asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                        class="form-control ">
                </select>
            </div>

            <span asp-validation-for="@Model.WhId" class="text-danger"></span>
        </div>
        <table id="dataTable" dir="rtl" class="text-md-center table table-striped border table-responsive">

            @*<table dir="rtl" id="dataTable" class="  text-md-center table table-striped border  table-responsive-lg table-responsive-md table-responsive-sm">*@
                <thead>
                    <tr>
                        @*<th>
            @Html.DisplayNameFor(a => Model.InG[0].ProdInfo.ProdCode)
        </th>
        <th>
            @Html.DisplayNameFor(a => Model.InG[0].Qty)
        </th>
        <th>
            @Html.DisplayNameFor(a => Model.InG[0].Note)
        </th>*@
                        <th>
                            @Html.DisplayNameFor(a => Model.NewProd[0].ProdCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(a => Model.NewProd[0].ProdName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(a => Model.NewProd[0].CostPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(a => Model.NewProd[0].WholePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(a => Model.NewProd[0].RetailPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(a => Model.InG[0].Qty)
                        </th>
                        <th><a title="اضافة" href="#" id="addNew">   <i class="fas fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.InG != null && Model.InG.Count > 0)
                    {

                        int j = 0;

                        foreach (var i in Model.InG)
                        {


                            <tr>
                                @*float a= (float)((ArrayList)paredes[i])[0];*@
                                @*<td>@Html.TextBoxFor(a => a[j].ContactName)</td>*@

                                @*<td onclick="bindAutocomplete(this)">@Html.TextBoxFor(a => Model.InG[j].ProdInfo.ProdCode) </td>*@
                                <td oninput="setProdCode(this)">@Html.TextBoxFor(a => Model.NewProd[j].ProdCode) </td>
                                <td>@Html.TextBoxFor(a => Model.NewProd[j].ProdName) </td>
                                <td>@Html.TextBoxFor(a => Model.NewProd[j].CostPrice) </td>
                                <td>@Html.TextBoxFor(a => Model.NewProd[j].WholePrice) </td>
                                <td>@Html.TextBoxFor(a => Model.NewProd[j].RetailPrice) </td>

                                @*for incoming good table*@
                                <td hidden="hidden">@Html.TextBoxFor(a => Model.InG[j].ProdInfo.ProdCode) </td>
                                <td>@Html.TextBoxFor(a => Model.InG[j].Qty)</td>
                                <td>
                                    @if (j > 0)
                                    {

                                        // <input type="button" value="Delete" onclick="deleteRow(this)">
                                        <a href="#" id="removeThis" class="remove">Remove</a>

                                    }
                                </td>
                                <span asp-validation-for="@Model.InG[j].ProdInfo.ProdCode" class="text-danger"></span>
                                <span asp-validation-for="@Model.InG[j].Qty" class="text-danger"></span>
                            </tr>
                            j++;

                        }

                    }
                </tbody>
            </table>

            <div class=" form-group row">

                <div class="col-md-7 offset-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            @*<input type="submit" class="btn btn-info form-control" value="حفظ" />*@
                            <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("اضافة")" />

                        </div>
                        <div class="col-md-6">
                            @*<a asp-page="Index" class="btn btn-success form-control">الرجوع</a>*@

                            <a asp-page="Index" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-secondary form-control">
                                @localizer.Get("رجوع")
                            </a>

                        </div>

                    </div>

                </div>
            </div>
    </form>
</div>


@* Here I will add Jquery Code for validation / dynamically add new rows / Remove rows etc *@

@section Scripts{
    <script language="javascript">
                $(document).ready(function () {

                $('#dataTable').on('click', '.remove', function (e) {
                    e.preventDefault();
                    var tr = $(this).closest('tr');
                    var index = $(this).data('index');
                    tr.remove();


                    $('#dataTable > tbody > tr').each((ix, row) => {
                        if (ix >= index) {
                            $.each($(row).find(':input'), function (i, val) {
                                // Replaced Name
                                var previous = ix + 1;
                                var oldN = $(this).attr('name');
                                var newN = oldN.replace('[' + previous + ']', '[' + ix + ']');
                                $(this).attr('name', newN);

                                var oldI = $(this).attr('id');
                                var newI = oldI.replace('_' + previous + '__', '_' + ix + '__');
                                $(this).attr('id', newI);
                            });

                            $(row).find('.remove').data('index', ix);
                        }
                    });
                })

                //1. Add new row
                $("#addNew").click(function (e) {
                    e.preventDefault();
                    var $tableBody = $("#dataTable > tbody");
                    var $trLast = $tableBody.find("tr:last");

                    var $trNew = $trLast.clone();
                    $trNew.find(':text').val('');

                    var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                    $trNew.find("td:last").html('<a href="#" title="الغاء" data-index=' + (parseInt(suffix) + 1) + '  class="remove"><i class="fas fa-window-close"></i></a>');
                    // $trNew.find("td:last").html('<button  id="removeThis" onclick="RemoveRow(this)">Click here</button>');

                    $.each($trNew.find(':input'), function (i, val) {
                        // Replaced Name
                        var oldN = $(this).attr('name');
                        var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                        $(this).attr('name', newN);

                        var oldI = $(this).attr('id');
                        var newI = oldI.replace('_' + suffix + '__', '_' + (parseInt(suffix) + 1) + '__');
                        $(this).attr('id', newI);
                        //Replaced value
                        var type = $(this).attr('type');
                        if (type.toLowerCase() == "text") {
                            $(this).attr('value', '');
                        }

                        // If you have another Type then replace with default value
                        $(this).removeClass("input-validation-error");

                    });
                    $trLast.after($trNew);

                });

            });
            function setProdCode(t) {
                    const val = t.children[0].value
                    t.parentElement.children[5].children[0].value =  val
                }

            @*function bindAutocomplete(t) {
                $(t.children[0]).autocomplete({

                        source: '@Url.Page("Create", "SearchNow")'
                    });

            }*@

    </script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script>


        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        $('#productForm').ajaxForm(function (response) {
            if (response.success) {
                $('#prod-validation-error').hide();
                $(':input', '#productForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .prop('checked', false)
                    .prop('selected', false);
                $('#prodModal').modal('toggle');
            } else {
                $('#prod-validation-error').html(response.error);
                $('#prod-validation-error').show();
            }
        });
    </script>
}
