@page
@model SumerBusinessSolution.Pages.Inventory.IncomingGoods.CreateModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@


@{
    ViewData["Title"] = "CreateIncomingGoods";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br />
<div class="border backgroundWhite">
    @*<h2 class="text-info">المواد الواردة </h2>*@
    <h2 class="text-info text-md-right">  @localizer.Get("أضافة مواد واردة")</h2>

    <form method="post">



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        @*<div class="form-group row">
                <div class="col-2">
                    <label asp-for="IncomingGood.ProdInfo.ProdName"></label>
                </div>
                <div class="col-5">
                    <input type="text" id="Product" />
                </div>
                <span asp-validation-for="IncomingGood.ProdInfo.ProdName" class="text-danger"></span>
            </div>*@


        <div class="form-group row ">

            <div class="col-md-5 offset-md-5">
                <input type="text" id="ProdInfo" asp-for="ProdCode" class="form-control text-md-right" />
            </div>
            <div class="col-md-2 ">
                <label asp-for="IncomingGood.ProdInfo.ProdCode"></label>
            </div>
            <span asp-validation-for="ProdCode" class="text-danger"></span>
        </div>


        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <select asp-for="WhId"
                        asp-items="@(new SelectList(Model.WarehouseList, "Id", "WhName"))"
                        class="form-control ">
                </select>
            </div>
            <div class="col-md-2">
                <label asp-for="IncomingGood.Warehouse.WhName"></label>
            </div>


            <span asp-validation-for="IncomingGood.Warehouse.WhName" class="text-danger"></span>
        </div>


        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="Qty" id="qty" class="form-control  text-md-right" />
                <span asp-validation-for="Qty" class="text-danger"></span>

            </div>
            <div class="col-md-2">
                <label asp-for="Qty"></label>
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <textarea placeholder="@localizer.Get("الملاحظات")" asp-for="Note" class="form-control  text-md-right"></textarea>

            </div>
            <span asp-validation-for="Note" class="text-danger"></span>
            <div class="col-md-2">
                <label asp-for="Note"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">
                    <div class="col-md-6">
                        @*<a asp-page="Index" class="btn btn-success form-control">رجوع</a>*@
                        <a asp-page="Index" class="btn btn-success form-control" asp-route-culture="@Request.RouteValues["culture"]">  @localizer.Get("الغاء")</a>

                    </div>
                    <div class="col-md-6">
                        @*<button type="submit" class="btn btn-info form-control" onclick="return ValidateInput()">حفظ</button>*@
                        <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" onclick="return ValidateInput()">  @localizer.Get("اضافة")</button>

                    </div>

                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-7">
                    <button type="submit" class="btn btn-info"  onclick="return ValidateInput()">تخزين</button>
                    <a asp-page="Index" class="btn btn-success form-control">رجوع</a>

                </div>
            </div>*@

    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#ProdInfo').autocomplete({
    source: '@Url.Page("Create", "SearchNow")'
    });
    });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function ValidateInput() {
            var qty = document.getElementById("qty").value;
            var PId = document.getElementById("ProdInfo").value;

            if (qty == 0) {
                //swal("Error!", "حدد الكمية", "error");
                swal("Error!", "No quantity Entered", "error");
                return false
            }

        }

    </script>

}
