@page
@model SumerBusinessSolution.Pages.Inventory.IncomingGoods.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>

    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Incoming Goods</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <a class="btn-group-sm" asp-page="Create"><i class="icon-document-add"></i></a>
                        </div>
                        <div class="fh5co-text">
                            <br />
                            <h3>Add New Incoming Good</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <div class="backgroundWhite">
            <form method="get" asp-page="PFunctions">



                <div class="container border border-secondary">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="row" style="margin-top:10px;">

                                <div class="col-md-4">
                                    @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = "Product Code...." } })
                                </div>
                                <div class="col-md-4">
                                    @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control", placeholder = "Date time....." } })
                                </div>
                                <div class="col-md-2 text-lg-right">

                                    <button type="submit" name="submit" value="search" class=" active btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>

            <br />





            <div>

                <table class="table table-striped border-info border">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(m => m.ProdInfo.ProdName)

                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.ProdInfo.ProdCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Warehouse.WhName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IncomingGoods.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IncomingGoods.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IncomingGoods.CreatedDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.IncomingGoods.ApplicationUser.FirstName)
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>


                    @if (Model.IncomingGoodList.Count() == 0)
                    {
                <h3 class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*No Incoming Good has been added! Add new Incoming Good now</h3>
                    }
                    else
                    {

                        @foreach (var item in Model.IncomingGoodList)


                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(m => item.ProdInfo.ProdName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Warehouse.WhName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Note)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.CreatedDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.ApplicationUser.FirstName)
                                </td>
                                <td>
                                    <a asp-page="/Inventory/Products/Index" asp-route-userId="@item.ProdId" style="text-decoration:none;">
                                        Products
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>

                        }
                    }
                </table>

            </div>
        </div>



        <br />
        <br />
        <br />

    </div>


</div>


