@page
@model SumerBusinessSolution.Pages.Inventory.WhTypes.Create
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "CreateWhType";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@

    <div class="border backgroundWhite">
        @*<h2 class="text-info">أضافة  نوع مخزن جديد</h2>*@
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h2 class="text-info text-md-right">@localizer.Get("اضافة نوع مخزن جديد")</h2>

        <form method="post">
            <div class="form-group row">

                <div class="col-md-5 offset-md-5">
                    <input asp-for="WhType.Type" class="form-control text-md-right" />
                    @*<select WhType="myList" asp-for="WhType.Type" class="form-control">

                        <option value="StoreRoom">مخزن</option>
                        <option value="ShowRoom">معرض</option>
                    </select>*@



                </div>
                <div class="col-md-2">
                    <label asp-for="WhType.Type"></label>
                </div>
                <span asp-validation-for="WhType.Type" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-5 offset-md-5">

                    <div class="row">

                        <div class="col-md-6">
                            @*<a asp-page="../Warehouses/Index" class="btn btn-success form-control">رجوع </a>*@
                            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Index" class="btn btn-secondary form-control">@localizer.Get("رجوع") </a>

                        </div>
                        <div class="col-md-6">
                            @*<input type="submit" class="btn btn-info form-control" value="حفظ" />*@
                            <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("اضافة")" />

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}