@page
@model SumerBusinessSolution.Pages.Inventory.Transfer.CreateModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "CreateInvTransfer";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    @*<h2 class="text-info">حركة المواد</h2>*@
    <h2 class="text-info text-md-right">@localizer.Get("تحريك المنتج")</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <select asp-for="@Model.FromWhId"
                        asp-items="@(new SelectList(Model.WhFromlist, "Id", "WhName"))"
                        class="form-control ">
                </select>
            </div>
            <div class="col-md-2">
                <label asp-for="@Model.FromWhId"> </label>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-5 offset-md-5">
                <select asp-for="@Model.ToWhId"
                        asp-items="@(new SelectList(Model.WhTolist, "Id", "WhName"))"
                        class="form-control ">
                </select>
            </div>
            <div class="col-md-2">
                <label asp-for="@Model.ToWhId"> </label>
            </div>
        </div>

        <table dir="rtl" id="dataTable" class=" text-md-center table table-striped border table-responsive-md table-responsive-lg">
            <tr>
                <th>
                    @Html.DisplayNameFor(a => Model.InvT[0].ProdInfo.ProdCode)
                </th>
                <th>
                    @Html.DisplayNameFor(a => Model.InvT[0].Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(a => Model.InvT[0].Note)
                </th>
                <th><a title="اضافة" href="#" id="addNew">   <i class="fas fa-plus"></i></a></th>

            </tr>
            @if (Model.InvT != null && Model.InvT.Count > 0)
            {

                int j = 0;

                foreach (var i in Model.InvT)
                {
                    <tr>
                        <td onclick="bindAutocomplete(this)">@Html.TextBoxFor(a => Model.InvT[j].ProdInfo.ProdCode) </td>
                        <td>@Html.TextBoxFor(a => Model.InvT[j].Qty)</td>
                        <td>@Html.TextBoxFor(a => Model.InvT[j].Note)</td>
                        <td>
                            @if (j > 0)
                            {
                                <a href="#" id="removeThis" class="remove">Remove</a>

                            }
                        </td>
                    </tr>
                    j++;

                }

            }
        </table>
        <div class=" form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">

                    <div class="col-md-6">
                        <a asp-page="Index" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-secondary form-control">
                            @localizer.Get("رجوع")
                        </a>

                    </div>
                    <div class="col-md-6">
                        <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("نقل")" />

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script language="javascript">
            $(document).ready(function () {

                //1. Add new row
                $("#addNew").click(function (e) {
                    e.preventDefault();
                    var $tableBody = $("#dataTable");
                    var $trLast = $tableBody.find("tr:last");

                    var $trNew = $trLast.clone();
                    $trNew.find(':text').val('');

                    var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                    $trNew.find("td:last").html('<a href="#" id="removeThis" title="الغاء" onclick="return RemoveRow(this)" class="remove"><i class="fas fa-window-close"></i></a>');


                    $.each($trNew.find(':input'), function (i, val) {
                        // Replaced Name
                        var oldN = $(this).attr('name');
                        var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                        $(this).attr('name', newN);
                        //Replaced value
                        var type = $(this).attr('type');
                        if (type.toLowerCase() == "text") {
                            $(this).attr('value', '');
                        }

                        // If you have another Type then replace with default value
                        $(this).removeClass("input-validation-error");

                    });
                    $trLast.after($trNew);

                });



            });

            function bindAutocomplete(t) {
                $(t.children[0]).autocomplete({

                        source: '@Url.Page("Create", "SearchNow")'
                    });

                }
                   function RemoveRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("dataTable").deleteRow(i);
    }

    </script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {

        });

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
}



@*<table id="dataTable" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <select asp-for="a => @Model.FromWhId"
                        asp-items="@(new SelectList(Model.Warehouselist, " Id", "WhName" ))"
                        class="form-control ">
                </select>
            </td>
            <td>
                <select asp-for="a => @Model.ToWhId"
                        asp-items="@(new SelectList(Model.WarehouselistTo, " Id", "WhName" ))"
                        class="form-control ">
                </select>
            </td>
        </tr>
        <tr>
            <th>Product Code</th>
            <th>Qty</th>
            <th>Note</th>

            <th></th>
        </tr>
        @if (Model.InvT != null && Model.InvT.Count > 0)
        {

        <tr style="border:1px solid black">
            <td><input type="text" id="ProdInfo0" asp-for="a => @Model.InvT[0].ProdInfo.ProdCode" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[0].Qty" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[0].Note" class="form-control text-md-right" /></td>

            <td></td>

        </tr>
        <tr style="border:1px solid black">
            <td><input type="text" id="ProdInfo1" asp-for="a => @Model.InvT[1].ProdInfo.ProdCode" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[1].Qty" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[1].Note" class="form-control text-md-right" /></td>

            <td></td>

        </tr>
        <tr style="border:1px solid black">
            <td><input type="text" id="ProdInfo2" asp-for="a => @Model.InvT[2].ProdInfo.ProdCode" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[2].Qty" class="form-control text-md-right" /></td>
            <td><input type="text" asp-for="a => @Model.InvT[2].Note" class="form-control text-md-right" /></td>

            <td></td>
        </tr>


        }
    </table>
    <input type="submit" value="Save" />
    }*@


@*<form method="post">



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />


        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input type="text" id="ProdInfo" asp-for="ProdCode" class="form-control text-md-right" />
            </div>
            <div class="col-md-2">
                <label asp-for="ProdCode"></label>
            </div>
            <span asp-validation-for="ProdCode" class="text-danger"></span>
        </div>


        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <select asp-for="FromWhId"
                        asp-items="@(new SelectList(Model.Warehouselist, " Id", "WhName" ))"
                        class="form-control" id="FromWhId">
                </select>
            </div>
            <div class="col-md-2">
                <label asp-for="FromWhId"></label>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <select asp-for="ToWhId"
                        asp-items="@(new SelectList(Model.WarehouselistTo, " Id", "WhName" ))"
                        class="form-control" id="ToWhId">
                </select>
            </div>
            <div class="col-md-2">
                <label asp-for="ToWhId"></label>
            </div>

        </div>

        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="Qty" class="form-control text-md-right" id="qty" />

            </div>
            <div class="col-md-2">
                <label asp-for="Qty"></label>
            </div>
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>

        <div class="form-group row">

            <div class="col-md-5  offset-md-5">

                <textarea placeholder=" @localizer.Get(" الملاحظات")" asp-for="Note" class="form-control text-md-right"></textarea>

            </div>
            <div class="col-md-2">
                <label asp-for="Note"></label>
            </div>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">


                    <div class="col-md-6">

                        <a asp-route-culture="@Request.RouteValues[" culture"]" asp-page="Index" class="btn btn-success form-control"> @localizer.Get("الغاء")</a>

                    </div>
                    <div class="col-md-6">
                        <button asp-route-culture="@Request.RouteValues[" culture"]" type="submit" class="btn btn-info form-control" onclick="return ValidateInput()"> @localizer.Get("تحريك")</button>

                    </div>
                </div>
            </div>
        </div>


    </form>*@


@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
             $(document).ready(function () {
        $('#ProdInfo0').autocomplete({
        source: '@Url.Page("Create", "SearchNow")'
        });
                 $('#ProdInfo1').autocomplete({
        source: '@Url.Page("Create", "SearchNow")'
                 });
                 $('#ProdInfo2').autocomplete({
        source: '@Url.Page("Create", "SearchNow")'
        });
        });
        </script>



        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function ValidateInput() {
                var qty = document.getElementById("qty").value;
                var fromWh = document.getElementById("FromWhId").value;
                var toWh = document.getElementById("ToWhId").value;

                if (qty == 0) {
                    //swal("Error!", "الكمية غير محددة", "error");
                    swal("Error!", "No Qty entered", "error");

                    return false
                }
                if (fromWh == toWh) {
                    //swal("Error!", "اختار المخزن الصحيح", "error");
                    swal("Error!", "Warehouses can not be similar", "error");

                    return false
                }
            }

        </script>
    }*@
