@page
@model SumerBusinessSolution.Inventory.Transfer.IndexModel
@using Sumer.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class=" backgroundWhite">
        <div class="row">

            @if (User.IsInRole(SD.AdminEndUser))
            {
                <div class="col-md-6">
                    <a asp-page="Create" class="btn btn-info"> <i class="fas fa-plus"></i></a>
                </div>
            }
            <div class="col-md-6 text-md-right">
                @*<h2 class="text-info"> حركه المنتجات </h2>*@
                <h2 class="text-info"> Transfer </h2>

            </div>
        </div>

        <form method="get" asp-page="Index">
            <div class="border backgroundWhite">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-2 text-md-right pb-1">
                                    <button type="submit" name="submit" value="search" class="btn btn-info form-control">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-md-5 pb-1">
                                    @*@Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = ".....رمز المنتج" } })*@
                                    @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = "Product Code..... " } })

                                </div>
                                <div class="col-md-5 pb-1">
                                    @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = "Date Created....." } })
                                </div>
                                @*<div>
            start Date:<input type="datetime" name="startdate" />
            End Date:<input type="datetime" name="enddate" />
        </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>



        <div>

          
            <table class="table table-striped border table-responsive-md table-responsive-lg">
                <tr class="table-secondary">


                    <th>
                        @Html.DisplayNameFor(m => m.ProdInfo.ProdCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.FromWarehouse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.ToWarehouse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.Note)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.CreatedDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.InvTransfers.ApplicationUser.FirstName)
                    </th>
                </tr>
                @if (Model.InvTransferList.Count() == 0)
                {
                    @*<h2 class="text-danger text-md-center">لا يوجد حركة في المنتجات  </h2>*@
                    <h2 class="text-danger text-md-center">No Transfer created</h2>

                }
                else
                {
                    @foreach (var item in Model.InvTransferList)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ToWarehouse.WhName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.FromWarehouse.WhName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.CreatedDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ApplicationUser.FirstName)
                            </td>


                        </tr>
                    }
                }

            </table>
            
        </div>
    </div>

       