@page
@model SumerBusinessSolution.Inventory.Transfer.IndexModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="float-md-right">
    <a asp-page="/index" title="الرئيسية" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-info">

        <i class="fas fa-home"></i>

    </a>
</div>
<div class=" backgroundWhite right-title">
    <div dir="rtl" class="row">



        <div class="col-md-6 text-md-right">
            @*<h2 class="text-info"> حركه المنتجات </h2>*@
            <h2 class="text-info"> @localizer.Get("نقل المواد")</h2>

        </div>
        @if (User.IsInRole(SD.AdminUser))
        {
            <div class="col-md-6">
                <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Create" title="نقل جديد" class="btn btn-info"> <i class="fas fa-plus"></i></a>
            </div>
        }
    </div>

    <form method="get" asp-page="Index">
        <div class="border backgroundWhite">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div dir="rtl" class="row" style="margin-top:10px;">



                            <div class="col-auto pb-1 ml-2">
                                <div dir="rtl" class="form-group row float-md-right">
                                    <div>
                                        <input hidden asp-for="SearchFromDate" />
                                        <label asp-for="SearchFromDate" class="control-label"></label>
                                    </div>

                                    <div>
                                        <input type="text" asp-for="SearchFromDate" class="datepicker form-control"  id="SearchFromDatePicker" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-auto pb-1 ">
                                <div dir="rtl" class="form-group row float-md-right">

                                    <div>
                                        <label asp-for="SearchToDate" class="control-label"></label>
                                    </div>

                                    <div>
                                        <input hidden asp-for="SearchToDate" />
                                        <input type="text" asp-for="SearchToDate" class="datepicker form-control" id="SearchToDatePicker" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-auto pb-1">
                                @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                            </div>
                            <div class="col text-md-right pb-1">
                                <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" title="بحث" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <div>


        <table class="table table-striped border table-responsive-sm text-md-center">
            <tr class="table-secondary">


                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.ApplicationUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.ToWhId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.FromWhId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProdInfo.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProdInfo.ProdCode)
                </th>
            </tr>
            @if (Model.InvTransferList.Count() == 0)
            {
                @*<h2 class="text-danger text-md-center">لا يوجد حركة في المنتجات  </h2>*@
                <h2 class="text-danger text-md-center"> @localizer.Get("لا يوجد حركات")</h2>

            }
            else
            {
                @foreach (var item in Model.InvTransferList)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.ApplicationUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.CreatedDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.FromWarehouse.WhName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.ToWarehouse.WhName)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                        </td>

                    </tr>
                }
            }

        </table>

    </div>

</div>

@section Scripts {


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#searchProdCode').autocomplete({
    source: '@Url.Page("Create", "SearchNow")'
    });
         });
        $('.datepicker').val('');
            $('.datepicker').text('');
            $('.datepicker').datepicker();
            $('.datepicker').datepicker("option", "dateFormat", "dd/mm/yy");
            $('.ui-datepicker').addClass('notranslate');
            $('#SearchFromDatePicker').datepicker("option", "altField", "#SearchFromDate");
            $('#SearchFromDatePicker').datepicker("option", "altFormat", "yy-mm-dd");
            $('#SearchToDatePicker').datepicker("option", "altField", "#SearchToDate");
            $('#SearchToDatePicker').datepicker("option", "altFormat", "yy-mm-dd");
    </script>
}