@page
@model SumerBusinessSolution.Inventory.Transfer.IndexModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@using Sumer.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class=" backgroundWhite">
    <div class="row">

        @if (User.IsInRole(SD.AdminEndUser))
        {
            <div class="col-md-6">
                <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="Create" class="btn btn-info"> <i class="fas fa-plus"></i></a>
            </div>
        }
        <div class="col-md-6 text-md-right">
            @*<h2 class="text-info"> حركه المنتجات </h2>*@
            <h2 class="text-info"> @localizer.Get("حركة المنتجات")</h2>

        </div>
    </div>

    <form method="get" asp-page="Index">
        <div class="border backgroundWhite">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2 text-md-right pb-1">
                                <button asp-route-culture="@Request.RouteValues["culture"]" type="submit" name="submit" value="search" class="btn btn-info form-control">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="col-md-5 pb-1">
                                @*@Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control", placeholder = ".....رمز المنتج" } })*@
                                @Html.Editor("searchProdCode", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("رمز المنتج....") } })

                            </div>
                            <div class="col-md-5 pb-1">
                                @Html.Editor("searchCreateDateTime", new { htmlAttributes = new { @class = "form-control text-md-right", placeholder = @localizer.Get("تاريخ الحركة") } })
                            </div>
                            @*<div>
                                    start Date:<input type="datetime" name="startdate" />
                                    End Date:<input type="datetime" name="enddate" />
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <div>


        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">


                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.ApplicationUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.ToWhId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InvTransfers.InvTransferHeader.FromWhId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProdInfo.ProdName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProdInfo.ProdCode)
                </th>
            </tr>
            @if (Model.InvTransferList.Count() == 0)
            {
                @*<h2 class="text-danger text-md-center">لا يوجد حركة في المنتجات  </h2>*@
                <h2 class="text-danger text-md-center"> @localizer.Get("لا يوجد حركات")</h2>

            }
            else
            {
                @foreach (var item in Model.InvTransferList)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.ApplicationUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.CreatedDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.ToWarehouse.WhName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InvTransferHeader.FromWarehouse.WhName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ProdInfo.ProdCode)
                        </td>

                    </tr>
                }
            }

        </table>

    </div>
</div>

@section Scripts {
     

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
         $(document).ready(function () {
    $('#searchProdCode').autocomplete({
    source: '@Url.Page("Create", "SearchNow")'
    });
    });
    </script>
}