@page
@model IndexModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Home page";
}

<div class="row" style=" padding-right:100px;">


    <div class="column" style="padding-left:110px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Inventory/IncomingGoods/Index">
            <img src="~/img/delivery-truck.png" style="width:120px;height:120px;" />
            @*<p class="text-center">الواردة</p>*@
            <h4 class="text-center">@localizer.Get("البضائع الواردة")</h4>

        </a>
    </div>
    @if (User.IsInRole(SD.AdminUser))
    {
        <div class="column" style="padding-left:110px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/transfer/index">
                <img src="~/img/b2b.png" style="width:120px;height:120px;" />
                @*<p class="text-center">التحويل</p>*@
                <h4 class="text-center">@localizer.Get("حركة المنتجات")</h4>

            </a>
        </div>
    }
    <div class="column" style="padding-left: 110px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/transferrequests/index">
            <img src="~/img/application.png" style="width:120px;height:120px;" />
            @*<p class="text-center">طلب تحويل</p>*@
            <h4 class="text-center">@localizer.Get("طلبات حركة المنتجات")</h4>
        </a>
    </div>

    <div class="column" style="padding-left:70px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/products/index">
            <img src="~/img/lamp.png" style="width:120px;height:120px;" />
            @*<p class="text-center">المواد</p>*@
            <h4 class="text-center">@localizer.Get("المنتجات")</h4>

        </a>
    </div>
</div>

<br />
<div class="row" style=" padding-right:100px;">



    <div class="column" style="padding-left:110px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="reports">
            <img src="~/img/statistics.png" style="width:120px;height:120px;" />
            @*<p class="text-center">التقارير</p>*@
            <h4 class="text-center">@localizer.Get("التقارير")</h4>

        </a>
    </div>

    <div class="column" style="padding-left:110px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Customers/Customers/Index">
            <img src="~/img/team.png" style="width:120px;height:120px;" />
            @*<p class="text-center">التقارير</p>*@
            <h4 class="text-center">@localizer.Get("الزبائن")</h4>

        </a>
    </div>
    @if (User.IsInRole(SD.BnasStoreUser))
    {
        <div class="column" style="padding-left:110px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/Billings/Index">
                <img src="~/img/bills.png" style="width:160px;height:120px;" />
                @*<p class="text-center">المخازن</p>*@
                <h4 class="text-center">@localizer.Get("الفواتير")</h4>

            </a>
        </div>



    }
    else
    @if (User.IsInRole(SD.YaseenStoreUser))
    {
        <div class="column" style="padding-left:110px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/ExternalBillings/Index">
                <img src="~/img/bills.png" style="width:160px;height:120px;" />
                @*<p class="text-center">المخازن</p>*@
                <h4 class="text-center">@localizer.Get("الفواتير")</h4>

            </a>
        </div>

    }
    else
    { <div class="column" style="padding-left:115px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/Billings/Index">
                <img src="~/img/bills.png" style="width:160px;height:120px;" />
                @*<p class="text-center">المخازن</p>*@
                <h4 class="text-center">@localizer.Get("فواتير البناس")</h4>

            </a>
        </div>
        <div class="column" style="padding-left:70px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/ExternalBillings/Index">
                <img src="~/img/bills.png" style="width:160px;height:120px;" />
                @*<p class="text-center">المخازن</p>*@
                <h4 class="text-center">@localizer.Get("Chint فواتير ")</h4>

            </a>
        </div>
    }


</div>

        <br />
        <div class="row" style=" padding-right:100px;">




            <div class="column" style="padding-left:110px;">
                <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="settings">
                    <img src="~/img/settings.png" style="width:140px;height:120px;" />
                    @*<p class="text-center">المخازن</p>*@
                    <h4 class="text-center">@localizer.Get("الاعدادات")</h4>

                </a>
            </div>




        </div>

        @*<div class="float-md-right">  <vc:culture-switcher /> </div>*@
    