@page
@model IndexModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<div class="row" style="padding-left:120px; padding-right:100px;">
    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Inventory/IncomingGoods/Index">
            <img src="~/img/delivery-truck.png" style="width:120px;height:120px;" />
            @*<p class="text-center">الواردة</p>*@
        <h4 class="text-center">@localizer.Get("البضائع الواردة")</h4>

        </a>
    </div>
    @if (User.IsInRole(SD.AdminEndUser))
    {
        <div class="column" style="padding-left:80px;">
            <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/transfer/index">
                <img src="~/img/b2b.png" style="width:120px;height:120px;" />
                @*<p class="text-center">التحويل</p>*@
            <h4 class="text-center">@localizer.Get("حركة المنتجات")</h4>

            </a>
        </div>
    }
    <div class="column" style="padding-left: 80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/transferrequests/index">
            <img src="~/img/application.png" style="width:120px;height:120px;" />
            @*<p class="text-center">طلب تحويل</p>*@
        <h4 class="text-center">@localizer.Get("طلبات حركة المنتجات")</h4>
        </a>
    </div>

    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/inventory/products/index">
            <img src="~/img/lamp.png" style="width:120px;height:120px;" />
            @*<p class="text-center">المواد</p>*@
        <h4 class="text-center">@localizer.Get("المنتجات")</h4>

        </a>
    </div>
</div>

<br />
<br />
<br />
<br />
<div class="row" style="padding-left:120px; padding-right:100px;">



    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Inventory/reports/Index">
            <img src="~/img/statistics.png" style="width:120px;height:120px;" />
            @*<p class="text-center">التقارير</p>*@
            <h4 class="text-center">@localizer.Get("التقارير")</h4>

        </a>
    </div>

    <div class="column" style="padding-left:80px;">
        <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="settings">
            <img src="~/img/settings.png" style="width:180px;height:120px;" />
            @*<p class="text-center">المخازن</p>*@
            <h4 class="text-center">@localizer.Get("الاعدادات")</h4>

        </a>
    </div>


</div>

@*<div class="float-md-right">  <vc:culture-switcher /> </div>*@