@page
@model SumerBusinessSolution.Pages.Sales.ExternalBillings.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>

</head>
<body style="padding-left:150px;">
    <style>
        th {
            text-align: left;
        }

        td {
            padding: 5px;
        }
    </style>
    <div style="width:700px; padding:5px; background-color:white;">
        <form method="post">
            <table>
                <tr>
                    <td>
                        <select asp-for="a => @Model.ExternalBillHeader.CustId"
                                asp-items="@(new SelectList(Model.Customer, "Id", "CompanyName"))"
                                class="form-control ">
                        </select>
                    </td>

                </tr>
            </table>

            <div><a href="#" id="addNew">Add New</a></div>
            <table id="dataTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Prod Name</th>
                    <th>Qty</th>
                    <th>Unit Price</th>
                    <th>Total </th>
                    <th>Note</th>
                    <th></th>
                </tr>
                @if (Model.Bi != null && Model.Bi.Count > 0)
                {

                    int j = 0;

                    foreach (var i in Model.Bi)
                    {


                        <tr style="border:1px solid black">
                            <td>@Html.TextBoxFor(a => Model.Bi[j].ProdName) </td>
                            <td>@Html.TextBoxFor(a => Model.Bi[j].Qty)</td>
                            <td onfocusout="bindTotal(this)" oninput="bindTotal(this)">@Html.TextBoxFor(a => Model.Bi[j].UnitPrice)</td>
                            <td>@Html.TextBoxFor(a => Model.Bi[j].TotalAmt)</td>
                            <td>@Html.TextBoxFor(a => Model.Bi[j].Note)</td>
                            <td>
                                @if (j > 0)
                                {

                                    // <input type="button" value="Delete" onclick="deleteRow(this)">
                                    <a href="#" id="removeThis" class="remove">Remove</a>

                                }
                            </td>
                        </tr>
                        j++;

                    }

                }
            </table>
            <table>
                <tr>
                    <td>Note</td>
                    <td>
                        <input type="text" asp-for="a => @Model.ExternalBillHeader.Note" class="form-control text-md-right" />
                    </td>
                </tr>
                <tr>
                    <td>PaidAmt</td>
                    <td>
                        <input type="text" asp-for="a => @Model.ExternalBillHeader.PaidAmt" class="form-control text-md-right" />
                    </td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>
                        <input type="text" asp-for="a => @Model.ExternalBillHeader.Discount" class="form-control text-md-right" />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Save Bulk Data" />
        </form>
        @*@using (Html.BeginForm("BulkData", "Save", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

            }*@
    </div>

    <script>
        function RemoveRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("dataTable").deleteRow(i);
        }

    </script>


    @* Here I will add Jquery Code for validation / dynamically add new rows / Remove rows etc *@

    @section Scripts{
        <script language="javascript">
            $(document).ready(function () {

                //1. Add new row
                $("#addNew").click(function (e) {
                    e.preventDefault();
                    var $tableBody = $("#dataTable");
                    var $trLast = $tableBody.find("tr:last");

                    var $trNew = $trLast.clone();
                    $trNew.find(':text').val('');

                    var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                    $trNew.find("td:last").html('<a href="#" id="removeThis" onclick="return RemoveRow(this)" class="remove">Remove</a>');


                    $.each($trNew.find(':input'), function (i, val) {
                        // Replaced Name
                        var oldN = $(this).attr('name');
                        var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                        $(this).attr('name', newN);
                        //Replaced value
                        var type = $(this).attr('type');
                        if (type.toLowerCase() == "text") {
                            $(this).attr('value', '');
                        }

                        // If you have another Type then replace with default value
                        $(this).removeClass("input-validation-error");

                    });
                    $trLast.after($trNew);

                });
            });

                function bindTotal(t) {
                    const val = t.parentElement.children[1].children[0].value //t.children[0].value
                    const price = t.parentElement.children[2].children[0].value

                    t.parentElement.children[3].children[0].value = val * price
            }

        </script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(document).ready(function () {

            });
        </script>
    }
</body>
