@page
@model SumerBusinessSolution.Pages.Sales.ExternalBillings.DetailsModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@


@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="border backgroundWhite">
    @*<h2 class="text-info">المواد الواردة </h2>*@
    <h2 class="text-info text-md-right">  @localizer.Get("تفاصيل الفاتورة")</h2>

    <form method="post">

        <div class="form-group row ">
            <input type="hidden" asp-for="ExternalBillHeader.Id" />
            <div class="col-md-5 offset-md-5">
                <input type="text" id="ProdInfo" asp-for="ExternalBillHeader.Id" class="form-control text-md-right" disabled />
            </div>
            <div class="col-md-2 ">
                <label asp-for="ExternalBillHeader.Id"></label>
            </div>

        </div>



        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="ExternalBillHeader.Customer.CompanyName" class="form-control  text-md-right" disabled />


            </div>
            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.Customer.CompanyName"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="ExternalBillHeader.TotalAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.TotalAmt"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="ExternalBillHeader.Discount" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.Discount"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="ExternalBillHeader.TotalNetAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.TotalNetAmt"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                @*<textarea placeholder="ملاحظات" asp-for="Note" class="form-control"></textarea>*@
                <input asp-for="ExternalBillHeader.PaidAmt" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.PaidAmt"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="ExternalBillHeader.CreatedDataTime" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.CreatedDataTime"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="ExternalBillHeader.Status" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.Status"></label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-5 offset-md-5">
                <input asp-for="ExternalBillHeader.ApplicationUser.FirstName" class="form-control  text-md-right" disabled />

            </div>

            <div class="col-md-2">
                <label asp-for="ExternalBillHeader.ApplicationUser.FirstName"></label>
            </div>
        </div>

        <table class="table table-striped border table-responsive-md table-responsive-lg">
            <tr class="table-secondary">

                <th>
                    @Html.DisplayNameFor(m => m.ExternalBillItems.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ExternalBillItems.TotalAmt)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ExternalBillItems.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ExternalBillItems.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ExternalBillItems.ProdName)
                </th>

            </tr>

            @foreach (var item in Model.ExternalBillItemsList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Note)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.TotalAmt)
                        </td>
                       <td>
                            @Html.DisplayFor(m => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Qty)
                        </td>
                     <td>
                            @Html.DisplayFor(m => item.ProdName)
                        </td>
                    </tr>

                }



        </table>


        <div class="form-group row">
            <div class="col-md-5 offset-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-page="Index" class="btn btn-success form-control" asp-route-culture="@Request.RouteValues["culture"]">  @localizer.Get("الغاء")</a>
                    </div>
                    <div class="col-md-6">
                        <button asp-route-Id="@Model.ExternalBillHeader.Id" asp-page="MakePayment" asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" onclick="return ValidateInput()">
                            @localizer.Get("تسديد الفاتورة")
                        </button>
                    </div>

                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-7">
                    <button type="submit" class="btn btn-info"  onclick="return ValidateInput()">تخزين</button>
                    <a asp-page="Index" class="btn btn-success form-control">رجوع</a>

                </div>
            </div>*@

    </form>
</div>


