@page
@model SumerBusinessSolution.Pages.Customers.Accounts.CustAccDetailsModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "CustAccDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="border backgroundWhite">
    @*<h2 class="text-info">اضافة مادة جديدة</h2>*@
    <h2 class="text-info  text-md-right">@localizer.Get("حسابات الزبون")</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CustAcc.Customer.Id" />

        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="Customer.CompanyName"> </label>
            </div>
            <div class="col-md-5 offset-md-5">
                <input asp-for="Customer.CompanyName" class="form-control  text-md-right" disabled />
            </div>
            <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
        </div>
        <div dir="rtl" class="row form-group">

            <div class="col-md-2">
                <label asp-for="CustAcc.Id"> </label>
            </div>
            <div class="col-md-5 offset-md-5">
                <input asp-for="CustAcc.Id" class="form-control  text-md-right" disabled />
            </div>
            <span asp-validation-for="CustAcc.Id" class="text-danger"></span>
        </div>

        <div dir="rtl" class="row form-group text-success">

            <div class="col-md-2">
                <label asp-for="CustAcc.Paid"> </label>
            </div>
            <div class="col-md-5 offset-md-5">
                <input asp-for="CustAcc.Paid" class="form-control  text-md-right" disabled />
            </div>
            <span asp-validation-for="CustAcc.Paid" class="text-danger"></span>
        </div>

        <div dir="rtl" class="row form-group text-danger">

            <div class="col-md-2">
                <label asp-for="CustAcc.Debt"> </label>
            </div>
            <div class="col-md-5 offset-md-5">
                <input asp-for="CustAcc.Debt" class="form-control  text-md-right" disabled />
            </div>
            <span asp-validation-for="CustAcc.Debt" class="text-danger"></span>
        </div>



        <div class=" form-group row">
            <div class="col-md-6 offset-md-5">
                <div class="row justify-content-center">


                    <div  class="pl-md-3">
                        @*<a asp-page="Index" class="btn btn-success form-control">الرجوع</a>*@
                        <a asp-page="../Accounts/PayToAcc" asp-route-culture="@Request.RouteValues["culture"]" asp-route-CustId="@Model.Customer.Id" class="btn btn-info form-control">@localizer.Get("تسديد الديون")</a>

                    </div>
                    <div  class="pl-md-3">
                        <a asp-page="/Sales/Billings/CustBills" asp-route-culture="@Request.RouteValues["culture"]" asp-route-CustId="@Model.Customer.Id" class="btn btn-primary form-control">@localizer.Get("الفواتير")</a>

                    </div>
                    @if (User.IsInRole(SD.AdminUser))
                    {
                        <div class="pl-md-3">
                            <a asp-page="../Accounts/EditCustAcc" asp-route-culture="@Request.RouteValues["culture"]" asp-route-CustId="@Model.Customer.Id" class="btn btn-success form-control">@localizer.Get("تعديل")</a>
                        </div>
                    }
                    <div  class="pl-md-3" >

                        <input asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-secondary form-control" type="button" value="@localizer.Get("رجوع")" onclick="history.back()">

                    </div>
                </div>

            </div>
        </div>

    </form>
</div>


@section Scripts{
    <script language="javascript">


        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
}





