@page
@model SumerBusinessSolution.Pages.Customers.Accounts.PayToAccModel
@using Sumer.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@

@{
    ViewData["Title"] = "PayToAcc";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="border backgroundWhite">
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        @*<h2 class="text-info">اضافة مادة جديدة</h2>*@
        <h2 class="text-info  text-md-right">@localizer.Get("دفع حسابات الزبون")</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustAcc.Customer.Id" />

            <div class="row form-group">
                <div class="col-md-5 offset-md-5">
                    <input asp-for="CustAcc.Customer.CompanyName" class="form-control  text-md-right" disabled />
                </div>
                <div class="col-md-2">
                    <label asp-for="CustAcc.Customer.CompanyName"> </label>
                </div>
                <span asp-validation-for="CustAcc.Customer.CompanyName" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <div class="col-md-5 offset-md-5">
                    <input asp-for="CustAcc.Paid" class="form-control  text-md-right" disabled />
                </div>
                <div class="col-md-2">
                    <label asp-for="CustAcc.Paid"> </label>
                </div>
                <span asp-validation-for="CustAcc.Paid" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <div class="col-md-5 offset-md-5">
                    <input asp-for="CustAcc.Debt" class="form-control  text-md-right" disabled/>
                </div>
                <div class="col-md-2">
                    <label asp-for="CustAcc.Debt"> </label>
                </div>
                <span asp-validation-for="CustAcc.Debt" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <div class="col-md-5 offset-md-5">
                    <input asp-for="NewPayment" class="form-control  text-md-right" />
                </div>
                <div class="col-md-2">
                    <label asp-for="NewPayment"> </label>
                </div>
                <span asp-validation-for="NewPayment" class="text-danger"></span>
            </div>

            <div class=" form-group row">
                <div class="col-md-5 offset-md-5">
                    <div class="row">
                        <div class="col-md-6">
                             
                                <input asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-success form-control" type="button" value="@localizer.Get("الغاء")" onclick="history.back()">
                            
                        </div>
                        <div class="col-md-6">
                            @*<input type="submit" class="btn btn-info form-control" value="حفظ" />*@
                            <input asp-route-culture="@Request.RouteValues["culture"]" type="submit" class="btn btn-info form-control" value="@localizer.Get("حفظ")" />
                        </div>

                    </div>

                </div>
            </div>

        </form>
    </div>
