@page
@model SumerBusinessSolution.Pages.Sales.Reports.IndexModel
@using SumerBusinessSolution.Utility
@using Microsoft.AspNetCore.Localization
@using System.ComponentModel.DataAnnotations;
@*@inject IHtmlLocalizer<IndexModel> htmlLocalizer*@ @*for html lozcalization*@
@*@inject IStringLocalizer<IndexModel> localizer*@
@*First Method*@
@inject Services.CommonLocalizationService localizer
@*Second and the easier Method*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div>
        <div class="float-md-right ">
            <a asp-page="/reports" title="التقارير" asp-route-culture="@Request.RouteValues["culture"]" class="btn btn-info">

                <i class="fas fa-file-alt"></i> الرجوع الى التقارير

            </a>
        </div>
        <br />
        <br />



        <div class="row" style="padding-right:100px;">
            @if (User.IsInRole(SD.BnasStoreUser) || User.IsInRole(SD.AdminUser))
            { 
                <div class="column" style="padding-left:136px;">
                    <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/reports/SalesAnalysis">

                        <img src="~/img/analysis.png" style="width:120px;height:120px;" />
                        @*<p class="text-center">كمية المواد</p>*@
                        <h4 class="text-center">@localizer.Get("تحليل مبيعات البناس")</h4>

                    </a>
                </div>
            <div class="column" style="padding-left:146px;">
                <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/Sales/reports/Bills">
                    <img src="~/img/bills.png" style="width:120px;height:120px;" />
                    @*<p class="text-center">العمليات تجارية</p>*@
                    <h4 class="text-center">@localizer.Get("تقارير البناس")</h4>

                </a>
            </div>
            }
            @if (User.IsInRole(SD.YaseenStoreUser)||User.IsInRole(SD.AdminUser))
            {
                <div class="column" style="padding-left:146px;">
                    <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/sales/reports/ExternalSalesAnalysis">

                        <img src="~/img/analysis.png" style="width:120px;height:120px;" />
                        @*<p class="text-center">كمية المواد</p>*@
                        <h4 class="text-center">@localizer.Get("Chint تحليل مبيعات")</h4>

                    </a>
                </div>

                <div class="column" style="padding-left:136px;">
                    <a asp-route-culture="@Request.RouteValues["culture"]" asp-page="/sales/reports/ExternalBills">
                        <img src="~/img/bills.png" style="width:120px;height:120px;" />
                        @*<p class="text-center">المخازن</p>*@
                        <h4 class="text-center">@localizer.Get("Chint تقارير ")</h4>
                    </a>
                </div>
            }




        </div>

    </div>